---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/Images/blog_main/main.png
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Welcome my blog. I love to type code by C language and java. My goal is being a good programmer understanding used memory by code I typed. I've post my information and some code for study. You could find my information such as profile, portfolio, etc."
intro: 
  - excerpt: "Below section shows the projects I've worked."
feature_row:
  - image_path: /assets/Images/blog_main/musicstore/project_thumb.png
    alt: "project1 image"
    title: "Music Store (web)"
    excerpt: "The purpose of this project is what web site is made to sell music albums. The webpage has features like other common shopping website such as login, logout, displayment items, purchasing the items, etc. But, this website show recommend items through several processing data. You will find the recommend side in the website if you visit it."
    url: "/portfolio/musicstore/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row type="left" %}
