---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/Images/main.png
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Welcome my blog. I've post and collected some code for study. You could find my information such as profile, portfolio, etc."
intro: 
  - excerpt: "Below section will use and show the projects I've worked"
feature_row:
  - image_path: /assets/Images/project1.png
    alt: "project1 image"
    title: "Project"
    excerpt: "**Project1**- A store for selling disk of music. I was in charged of call the records(disk) from Database and dealt with data from Database in case of purchasing the records by shopper."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row type="left" %}
