---
layout: archive

author_profile: true

sidebar:
  nav: "main"
---

{{ content }}

{% assign habbits_categories_max = 0 %}
{% for habbits_habbits_category in site.habbits_categories %}
  {% if habbits_habbits_category[1].size > habbits_categories_max %}
    {% assign habbits_categories_max = habbits_habbits_category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..habbits_categories_max) reversed %}
    {% for habbits_habbits_category in site.habbits_categories %}
      {% if habbits_habbits_category[1].size == i %}
        <li>
          <a href="#{{ habbits_habbits_category[0] | slugify }}">
            <strong>{{ habbits_habbits_category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li> 
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% for i in (1..habbits_categories_max) reversed %}
  {% for habbits_habbits_category in site.habbits_categories %}
    {% if habbits_habbits_category[1].size == i %}
      <section id="{{ habbits_habbits_category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ habbits_habbits_category[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for post in habbits_habbits_category.last limit:3 %}
              {% include archive-single.html type=page.entries_layout %}       
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
