---
layout: archive

author_profile: true

sidebar:
  nav: "main"
---
<!-- {{ content }}

<div class="entries-{{ page.entries_layout }}">
  {% include posts-habbits_category.html taxonomy=page.taxonomy type=page.entries_layout %}
</div> -->

{% assign habbits_category = page.habbits_category | default: page.title %}
  {% for post in site.habbits_categories[habbits_category] %}
    <div>
      {% include archive-single.html type=page.entries_layout %} <small>{{ post.date | date_to_string }}</small>           
    </div>
  {% endfor %}